// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$add_button_color:#DE2477;
$next_button_color:rgb(6, 117, 34);
$cog-icon:rgb(6, 117, 34);

$row-success: rgba(56, 193, 113, 0.274);
$row-primary: rgba(52, 144, 220, 0);
$row-danger: rgba(227, 53, 47, 0.226);
$row-secondary: rgba(60, 63, 65, 0.322);
$row-warning: rgba(255, 237, 74, 0.315);
$infostart:rgb(238, 247, 241);
